.git
.gitignore
.gitattributes
.github

node_modules
.next

.env
.env.*
!.env.example

.next
out
dist

*.md
!README.md

.vscode
.idea
*.swp
*.swo

tests
coverage

docker-compose*
Dockerfile*
.dockerignore

.ds_store
thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.cache
tmp
temp
